*{margin: 0; padding: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
:root{--primary:hsl(0, 0%, 100%); --second:hsl(212, 45%, 89%); --third:hsl(220, 15%, 55%);--four:hsl(218, 44%, 22%);}
body{
    background: var(--second);
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    font-size: 15px;
}
main{
    background: var(--primary);
    width: 20%;
    height: auto;
    margin: 25px auto;
    padding: 5px;
    border-radius: 15px;
}
.container{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    text-align: center;
}
.container-image img{
    width: 95%;
    margin: 5px auto;
    border-radius: 15px;
    display: block;
    margin: auto;
    padding-top: 5px;
}
.container-texto{
    width: 90%;
    margin: 25px auto;
    padding: 0px;
    text-align: center;
}
.container-texto h1{
    font-size: 19px;
    font-weight: 700 bold;
    color: var(--four);   
}
.container-texto h2{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    color: var(--third);
}

@media (min-width:654px) and (max-width:1070px){
    main{width: 40%;}
    .container{width: 100%;height: auto;}
    .container-texto{width: 85%;margin: 25px auto; font-weight: 700 bold;}
    .container-texto h1{
        font-size: 22px;
        font-weight: 700 bold;
        color: var(--four);   
    }
    
}
@media (min-width:376px) and (max-width:653px){
    main{width: 80%;}
    .container{width: 100%;height: auto;}
    .container-texto{width: 85%;margin: 25px auto; font-weight: 700 bold;}
}
@media (min-width:200px) and (max-width:375px){
    main{width: 80%;}
    .container{width: 100%;height: auto;}
    .container-texto{width: 85%;margin: 25px auto; font-weight: 700 bold;}
}
